.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -99;
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.09)
  }
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

#bg-overlay {
  background: url('assets/img/stars.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 101;
}

/* Header */

#header {
  max-width: 100%;
  text-align: center;
  color: #ffffff;

  > * {
    position: relative;
    color: #ffffff;

    &:before {
      content: '';
      display: block;
      color: #ffffff;
      position: absolute;
      top: calc(-3.5rem - 1px);
      height: calc(3.5rem + 1px);
    }
  }

  > :first-child {
    &:before {
      display: none;
    }
  }

  .logo {
    width: 5.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
    border-radius: 100%;

    .icon {
      &:before {
        font-size: 2rem;
      }
    }
  }

  .content {
    border-style: solid;
    max-width: 100%;
    color: #ffffff;
    .inner {
      > :last-child {
        margin-bottom: 0;
      }
    }

    p {
      text-transform: uppercase;
      font-size: 0.8rem;
      line-height: 2;
      color: #ffffff;
    }
  }

  .body.is-article-visible & {
    opacity: 0;
  }

  .body.is-loading & {
    > * {
      opacity: 0;
    }


    .content {
      .inner {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
      }
    }
  }


}
